# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp.js

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
target/
build/
bin/
.classpath
.project
.settings/

# IDE-specific
# Eclipse
*.metadata/.lock
*.metadata/.bak
.apt_generated/
.classpath
.factorypath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
*.idv
*.ipk
*.ipp
*.iws

# Visual Studio Code
.vscode/

# WebStorm
*.idea/
*.iml
*.ipr
*.iws

# React
*.log
*.map
*.DS_Store
.DS_Store

# Other
*.swp
*.bak
*.tmp
*.old
*.sync
*.lock